

ul
{
list-style-type: none;
}


#header{
    width: 100%;
    height: 50px;
    background-color: #afd9ee;
    margin: 0 auto;
    
}
#sidemenu{
    background-color: #9acfea;
    padding: 0;
}

#sidemenu h1{
    color: #67b168;
    text-align: center;
    margin: 10px 0px;
    
}